.env
.env.local
*.log
.DS_Store
Thumbs.db

# Launcher
launcher/**/bin/
launcher/**/obj/
launcher/**/*.user
launcher/**/Debug/
launcher/**/Release/
launcher/.vs/
launcher/*.slnx
launcher/dist/
launcher/**/*.pdb
launcher/**/publish-all.sh
launcher/**/build.sh

# Node
node_modules/
